<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="I_Love_Radio_Client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <I_Love_Radio_Client.My.MySettings>
            <setting name="playRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="latChannel" serializeAs="String">
                <value>I Love Radio</value>
            </setting>
            <setting name="Webstream" serializeAs="String">
                <value />
            </setting>
            <setting name="play_status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="play_channel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sSong" serializeAs="String">
                <value />
            </setting>
            <setting name="sArtist" serializeAs="String">
                <value />
            </setting>
            <setting name="sChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="sCover" serializeAs="String">
                <value />
            </setting>
            <setting name="dev" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sListeners" serializeAs="String">
                <value />
            </setting>
            <setting name="searchSong" serializeAs="String">
                <value />
            </setting>
            <setting name="rpc_channel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rpc_song" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rpc_listener" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radio_list" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="popup_working" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pastebin_api" serializeAs="String">
                <value />
            </setting>
            <setting name="formColor" serializeAs="String">
                <value>0</value>
            </setting>
        </I_Love_Radio_Client.My.MySettings>
    </userSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>
